/dist/
/node_modules/
/coverage

*storybook.log

# pnpm pack outputs
/diamondlightsource-sci-react-ui-*.tgz
/storybook-static/
/docs
.pnpm-store/

tsconfig.tsbuildinfo

# System files
.DS_Store
**/.DS_Store
